$tcl_primary: #e41e26;

$fg_light: #fff;

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    margin: 0 0.3em;
    padding: 0;
}

.app-header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darken($tcl_primary, 5%);
    margin: 0;
    padding: 0.5em;
    color: $fg_light;
}

.search-arret {
    margin: 1em 0;
}


$form_border_color: #ccc;

form {
    font-size: 1.2em;

    input {
        border: 1px $form_border_color solid;
        font-size: 1.1em;
    }
    
    button {
        border: 2px darken($tcl_primary, 10%) solid;
        background-color: $tcl_primary;
        color: $fg_light;
        font-size: 1.1em;
    }
}


.arrets-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    .arrets-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        min-width: 7em;
    
        background-color: darken($tcl_primary, 5%);
        color: $fg_light;
    
        margin: 0.3em;
        padding: 0.5em 0.7em;

        .arrets-footer {
            display: flex;
            justify-content: space-between; 
        }

        .arrets-item-arret {
            font-size: 1.3em;
            font-weight: bold;
        }

        .arrets-item-delai {
            font-size: 2em;
            font-weight: bold;
            margin: 0.6em 0;
            text-align: center;
        }

        .arrets-item-ligne {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }

        .arrets-item-direction {
            font-size: 0.9em;
            margin-left: 1em;
        }
    }
    
}
