$tcl_primary: #e41e26;

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
}

.arrets-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    .arrets-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        min-width: 7em;
    
        background-color: $tcl_primary;
        color: #fff;
    
        margin: 0.3em;
        padding: 0.5em 0.7em;

        .arrets-footer {
            display: flex;
            justify-content: space-between;
        }

        .arrets-item-arret {
            font-size: 1.3em;
            font-weight: bold;
        }

        .arrets-item-delai {
            font-size: 2em;
            font-weight: bold;
            margin: 0.6em 0;
            text-align: center;
        }

        .arrets-item-ligne {
            font-weight: bold;
        }

        .arrets-item-direction {
            font-size: 0.9em;
            margin-left: 1em;
        }
    }
    
}
